<main class="w-lg flex justify-between mx-auto bg-slate-200 rounded-md max-w-5xl p-5">
    <h1 class="text-2xl font-semibold text-indigo-500">Video Saver</h1>
    <div class="self-center w-8 h-8 border border-solid border-slate-500 rounded-sm p-1">
        <button>
            <img src="/images/menu.svg" alt="Menu button" />
        </button>
    </div>
</main>
